:root{
    --LIGHT-BEIGE: beige;
    --BEIGE: #ffd592;
    --DARK-BEIGE: #ffcf80;
    --LIGHT-ORANGE: #ffc566;
    --ORANGE: #ffb640;
    --LIGHT-LIME: #42deb8;
    --DARK-LIME: #188583;
    --LIGHT-PINK: #f886a3;
    --DARK-PINK: #c49cb4;
    --LIGHT-PURP: #785ea7;
    --DARK-PURP: #67406f;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Lora', serif;
}

body{
    background: #c5d3d7;
    overflow-x: hidden;
}