.chat--page--container{
    padding: 0;
    box-sizing: 0;
}

/* Sidebar */

.sidebar--container{
    display: flex;
    background: #d7e0e0;
    position: fixed;
    width: 20rem;
    height: 100vh;
    overflow-y: auto;
    border-right: 4px solid black;
    box-shadow: 4px 0 0 var(--LIGHT-LIME);
    
    & ul{
        font-size: 18px;
        padding-top: 8rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        list-style: none;
        width: 20rem;

        & .sec, .sec--active{
            text-decoration: none;
            color: black;
        }
        
        & .sec{
            border-left: 20px solid transparent;
            cursor: pointer;
            transition: 0.25s;
            padding: 1rem;
        }

        & .sec:hover, .sec--active{
            padding: 1.2rem;
            border-left: 30px solid var(--DARK-PINK);
            background: var(--DARK-PINK);
        }
    }
}

/* Chat Main */

.chat--main{
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    margin-left: 47rem;
    margin-bottom: 2rem;
}

/* Form */

.form--contanier{
    margin-left: .3rem;

    & .form{
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;

        & .additional--inputs{
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }
    }
    & .input--message, .input--words{
        font-size: 20px;
        border: none;
        color: black;
        background: transparent;
    }
    
    & .input--message{
        outline: 3px solid;
        padding: 15px;
        width: 55%;
        border-radius: 8px;
        transition: ease-out 0.4s;
        box-shadow: inset 100rem 0 0 0 var(--DARK-PINK);
        
        &:focus{
            color: var(--DARK-LIME);
            box-shadow: inset 0 0 0 0  var(--DARK-PINK);
            outline-color: black !important;
        }
    }

    & button{
        display: inline-block;
        all: unset;
        width: 100px;
        color: rgb(31, 31, 31);
        font-size: 30px;
        cursor: pointer;
        transform: translate(-43px, 2px);
    }

    .additional--inputs{
        & select, .input--words{
            padding: 8px;
            font-size: 18px;
            border: 2px solid black;
            border-radius: 4px;
            width: 20%;
        }
        
        & select{
            background: var(--LIGHT-LIME);
        }
        
        .input--words{
            background: var(--LIGHT-LIME);
            outline: none;
        }
    }
}

/* Response */

.response--container{
    margin-top: 9rem;
    background: #99bbbb;
    border: 4px solid;
    padding: 15px;
    width: 55%;
    height: 38rem;
    box-shadow: 5px 5px 5px var(--LIGHT-LIME);
    overflow-y: auto;
    
    & .response{
        font-size: 20px;

        & span{
            border: .1rem solid var(--DARK-LIME);
            animation: caret 1s steps(1) infinite;
        }
    }
}

    & .loading--state{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10rem;
}

@keyframes caret {
    50% {
        border-color: transparent;
    }
}